:root {
  --color-white: #F9F3F1;
  --main-color: #f96248;
  /*orange: f96248   green: 208E71*/
  --links: rgb(61, 152, 182);
  --color-main-bg: rgb(235, 235, 235);
  --color-card-bg: #A9BAB5;

  --section-bg-1: #A9BAB5;
  --section-bg-2: rgb(201, 201, 201);
  --section-clr-1: #6599ff;

  --accent-color: #00509C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html { background: var(--color-white);}

img {
  max-width: 100%;
}

section {
  padding: 2rem 0;
}

section h2 {
  margin-bottom: 1rem;
}

.container {
  width: min(80%, 1300px);
  margin: 0 auto;
}

.card {
  background: var(--color-card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  word-wrap:normal;
  display: flex;
  align-items: flex-end;
}

.card-content {
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / .3) 60%,
    hsl(0 0% 0% / .5)
  ); 
  padding: 1rem;
  width: 100%;
  height: 80px;
}

.card-header {
  color: var(--color-white);
  font-size: 1.5rem;
}

.card-text {
  color: rgb(63, 63, 63);
  letter-spacing: .02rem;
}

.text-center {
  text-align: center;
}

h2 {color: var(--accent-color);}

/*--------------- Main */
main .card {
  height: 200px;
}

/* Banner */
.third-row {
  margin: 1rem 0;
}

/* Categories */
#categories {
  background: var(--section-bg-1);
  color: var(--section-clr-1);
}

#categories .card {
  background-size: cover;
  background-repeat: no-repeat;
}

#categories .card:nth-child(1) {
  background-image: url(./src/img/bbq-jon-tyson.jpg);
}

#categories .card:nth-child(2) {
  background-image: url(./src/img/petcare-reba-spike.jpg);
}

#categories .card:nth-child(3) { background-image: url(./src/img/resturant-jay-wennington.jpg);}

#categories .card:nth-child(4) { background-image: url(./src/img/clay-nishant-kulkarni.jpg);}

.card-wrapper {
  display: flex;
  flex-basis: 100%;
  gap: 1rem;
  width: 100%;
}

.card-wrapper > * {
  flex-basis: 100%;
}

/*------------- Navbar */

/*
*/
header {
  background-image: url(./src/img/food-banner-ella-olsson.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.header-container {
  color: #fff;
  margin: 3rem auto;
  width: min(70%, 800px);

}

.header-container h1 {
  margin-bottom: 1rem;
}

.header-container button {
  background: var(--main-color);
  color: var(--color-white);
  padding: .5rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.header-container button:hover {
  background: var(--accent-color);
}

.header-container input {
  padding: .5rem 1.25rem;
  width: 60%;
}

nav {
  font-size: 1.4rem;
  color: var(--color-white);
  background: var(--main-color) ;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#nav-logo {
}

nav input[type="search"] {
  margin: auto .5rem;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {  list-style-type: none;}

nav a {
  color: var(--color-white);
  padding: 100% 1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent-color);
}

/*------------ Footer */

footer {
  width: 100%;
  background: var(--main-color);
  padding: 1rem 0;
  color: var(--color-white);
}

footer a {
  color: var(--color-white);
  text-decoration: none;
}

footer a:hover {
  color: var(--links);
}



/*
  Carousel
*/

