:root {
  --color-red: rgb(230, 130, 130);
  --color-white: #fff;
  --main-color: rgb(39, 86, 173);
  --links: rgb(61, 152, 182);
  --color-main-bg: rgb(235, 235, 235);
  --color-card-bg: rgb(224, 224, 224);

  --accent-color: rgb(119, 137, 172);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: min(80%, 1300px);
  margin: 0 auto;
}

.card {
  background: var(--color-card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

.text-center {
  text-align: center;
}

/*--------------- Main */

main {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 2rem 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.wrapper .card {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  border-left: 8px solid var(--accent-color);
  transition: transform ease-in-out .2s;
}

.wrapper .card:hover {
  transform: translateY(-2px);
  border-left: 8px solid var(--main-color);
}

input[type="search"] {
  padding: .5rem 1rem;
  border-radius: 10px;
  margin: .5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-img {
  width: 50%;
}

/*------------- Navbar */

nav {
  background: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
}

nav a {
  padding: 100% 1rem;
  text-decoration: none;
  color: var(--color-white);
}

nav a:hover {
  background: var(--color-white);
  color: var(--main-color);
}

/*------------ Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--main-color);
  padding: 1rem 0;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: var(--links);
}
