:root {
  --color-red: rgb(230, 130, 130);
  --color-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: min(80%, 1300px);
  margin: 0 auto;
}

/*
  Navbar css
*/

nav {
  background: var(--color-red);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
}

nav a {
  padding: 100% 1rem;
  text-decoration: none;
  color: var(--color-white);
}

nav a:hover {
  background: var(--color-white);
  color: var(--color-red);
}