:root {
  --color-red: rgb(230, 130, 130);
  --color-white: #fff;

  --main-color: rgb(39, 86, 173);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 90vh auto;
}

.container {
  width: min(80%, 1300px);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/*
  Navbar css
*/

nav {
  background: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
}

nav a {
  padding: 100% 1rem;
  text-decoration: none;
  color: var(--color-white);
}

nav a:hover {
  background: var(--color-white);
  color: var(--main-color);
}

/* Footer */

footer {
  background: var(--main-color);
  padding: 1rem 0;
}
